#game{
    border: none;
    width: 500px;
    height: 500px;
    background: pink;
    margin: calc(50vh - 250px) calc(50vw - 250px);
    position: relative;
    overflow: hidden;
}
#player{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: -400px;
}
.block{
    display: inline-block;
    background: black;
    height: 40px;
    width: 40px;
    margin: 5px;
}

#ball{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 100%;
    position: absolute;
    top: 150px;
    left: 240px;
}